html{
  width: 75%;
}

.center{
  text-align: center;
}

.left{
  width: 250px; 
  float:left; 
  height:100px; 
  margin:10px;
  padding-bottom: 10rem;
}

#score{
  width: 100px; 
  float:right; 
  height:100px; 
  margin:10px;
  padding-right: 250px;
}
